<Title>Your Sprite as a Pattern </Title>

<b>Katie is the best</b>

<h2>DMC Floss Number, Symbol, Stitch Count</h2>
{% for key, value in floss_symbol_map.items() %}
<li>{{key}}, {{value}}</li>
{% endfor %}


<table border="1">

    {% for floss_row in range(floss_num_chart|length) %}
    <tr border="1">

        {% for floss_col in range(floss_num_chart|length) %}
        <td border="1">
            {{floss_num_chart[floss_row][index]}}
        </td>
        {% endfor %}


    </tr>
    {% endfor %}

</table>

